table {
    width: 100%;
    border-collapse: collapse;
    position: flex;
    left: 0;
    top: 0;
    width: 900px;
    height: 120px;
    background-color: #ffffff;
    margin: 100px auto;
}
th, td {
    text-align: center;
    border: 1px solid #dddddd;
    padding: 8px;
}
th{
    background-color: #004E96;
    color: #ffffff;
}